# Neon Postgres
DATABASE_URL="postgresql://user:password@ep-xxx.neon.tech/padel_prode?sslmode=require"

# Auth.js
AUTH_SECRET="generate-with-openssl-rand-base64-32"

# Resend
RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxxxx"
RESEND_FROM_EMAIL="Padel Prode <onboarding@resend.dev>"

# Application
APP_URL="http://localhost:3000"
NODE_ENV="development"
